@import '~util/base';

body {
  white-space: nowrap;
  font-family: $fonts;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: 1.5;
  color: $color;
  text-align: left;
}

.alert {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid #f5c6cb;
  border-radius: .25rem;
  color: #721c24;
  background-color: #f8d7da;
}
