{
  presets: [
    ['env', {
      shippedProposals: true,
      targets: {
        browsers: ['chrome >= 60', 'firefox >= 52'],
      },
    }],
    'react',
  ],
  plugins: [
    'transform-object-rest-spread',
    'transform-class-properties',
  ]
}

